*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    /* border: solid red; */
    /* background-color: rgb(19, 18, 18); */
 
}
body{
    padding-top: 48px;
    background-color: rgba(24, 24, 24);
   
}
.listitems{
display: flex;
text-decoration: none;
justify-content: space-between;
list-style: none;
background-color: rgb(24, 24, 24);
opacity: 70%;
color: white;
width:100%;
height: 48px;
align-items: center;
padding: 0 20%;
position: relative;
cursor: pointer;


backdrop-filter: blur(50%);
}
.navbar{
    z-index: 101;
    position: fixed;
    width: 100%;
    top: 0;
  

}

.navitem{
    font-size: 12px;
    font-weight: 100;
}
.ribbon{
    height: 48px;
    width: 100%;
    background-color:rgb(29, 29, 31);
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;


    
}
.ribbon p{
    font-weight: 300;
   text-align: center;
  
}
.ribbon a{
text-decoration: none;
color: rgb(48, 99, 228);
}
.iphonepro {
    width: 100%;
    height: 80vh;
    background-image: url("./image/hero_iphone16pro_avail__fnf0f9x70jiy_largetall.jpg");
 background-size: cover;
 background-position: center;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 50px 0px;
    
}

.text{
    

text-align: center;
    color: white;
    font-size: 25px;
 

    


}
.text h1{
    font-weight: 500;
}
.text p{
  font-weight: 300;
}
.button{
    text-align: center;
}
.btn{
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 15px;
    color: white;
    border: solid 2px rgb(48, 111, 219);
    font-weight: 300;
    cursor: pointer;
}
.btn-one{
    background-color: rgb(48, 111, 219);;
}
.btn-two{
    background-color: transparent;
    color: rgb(48, 111, 219);
    margin-left: 20px;
}
.button p{
    color: white;
    opacity: .5;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}
.hover-nav{
    height: 50vh;
    background-color: rgba(24, 24, 24);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
    top:  -50vh;
transition: top 1s;
text-align: center;
}

.navbar:hover ~.hover-nav{
    top: 48px;

}
.spacer{
    width: 100%;
    height: 15px;
    background-color: white;
}
.iphonesixteen {
    width: 100%;
    height: 80vh;
    background-image: url("./image/hero_iphone16_avail__euwzls69btea_largetall.jpg");
 background-size: cover;
 background-position: center;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 50px 0px;
 cursor: pointer;
    
}
#ipsixteen{
    color: black;
}
.applewatch {
    width: 100%;
    height: 80vh;
    background-image: url(./image/hero_ipad_mini_announce__fx0v6ox8z3u6_largetall.jpg);

 background-size: cover;
 background-position: center;
 display: flex;
 flex-direction: column;

 align-items: center;
 padding: 50px 0px;
 cursor: pointer;
    
}
.applewatch h1{
    color: black;
}
#watch{
    color: black;
}
.applewatch > .button{
    margin-top: 20px;
}

.grid img{
   width: 100%;
   object-position:center;
   object-fit: contain;
   /* height: 600px; */

}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    gap: 15px;
    padding: 0 20px;
}
.item1{
    background-image: url(./image/promo_diwali_announce__dyy1wizwn02u_large.jpg);
    text-align: center;
    color: white;


    
}
.item1 h1{
    font-size: 40px;
    font-weight: 500;
    padding: 50px 0px 10px 0px;
}
.item1 p{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px ;
}

.item2{
    background-image: url("./image/promo_apple_watch_series_10_avail__b9etp10v9tn6_large.jpg");
    text-align: center;
    color: black;
}
.item2 h1{
    font-size: 40px;
    font-weight: 500;
    padding: 50px 0px 10px 0px;}
    .item2 p{
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 10px ;
    }
    

.item3{
    text-align: center;
    color: white;
    background-image: url(./image/promo_airpods_4_avail__bl22kvpg6ez6_large.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 40px;

}
.item3 h1{
    font-size: 40px;
    font-weight: 500;
    /* padding: 50px 0px 10px 0px; */
   
   
}
.item3 p{
    margin: 10px 0px;
    font-weight: 300;
    font-size: 20px;
}
    
.item4{
    background-image: url(./image/promo_macbook_air_m3__e43jegok3wuq_large.jpg);
    text-align: center;
    color: black;
}
.item4 h1{
    font-size: 40px;
    font-weight: 500;
    padding: 50px 0px 10px 0px;
}
.item4 p{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px ;
}

.item5{
    text-align: center;
    color: white;
    background-image: url(./image/promo_apple_watch_ultra2_avail__dyawbjw9cowi_large.jpg);
}
.item5 h1{
    font-size: 40px;
    font-weight: 500;
    padding: 50px 0px 0px 0px;}
    .item5 p{
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 10px ;

    }
    .item5 span{
        color: orange;
    }
    
.item6{
    background-image: url(./image/promo_iphone_tradein__bugw15ka691e_large.jpg);
    text-align: center;
    color: black;

}
.item6 h1{
    font-size: 40px;
    font-weight: 500;
    padding: 50px 0px 10px 0px;
}
.item6 p{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px ;
}

.griditem{
    height: 600px;
    background-size: cover;
    background-position: center;

}
.maindiv{
    display: grid;
    grid-template-rows:repeat(3,80vh) ;
    gap: 15px;
    background-color: white;
    padding-bottom: 20px;
}
.gridbutton{
    font-size: 18px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 300;
    cursor: pointer;
}
footer{
    background-color: rgb(245, 245, 247);
    height: 100vh;
    font-size: 15px;
    padding: 50px 50px 0px 50px;
    text-align: center;
    font-weight: 300;
}
hr{
    margin: 50px 0px;
}
.resources{
    display: flex;
    /* border: solid; */
    flex-direction: column;
    margin-right: 150px;
    text-decoration: none;
    list-style: none;

}
.footerlinks{
    padding: 15px 0px;
    text-decoration: none;
    color: grey;
}
.end{
    margin-left: 500px;
    display: flex;
    color: rgb(242, 242, 242);
    
}
.ftr{
    display: flex;
    justify-content: space-between;
}